<div class="nav sticky" id="navbar">
    <div class="navbar-menu-left">
        <div class="logo">
            <a href="#">
                <img class="logo1" style="height: 65%;" src="../../../../assets/images/g10xLogo1.png">
            </a>
        </div>
        <!-- <div class="menu-item" >
            Dashboard
        </div> -->
        <!-- <div class="menu-item" (click)="goToIncident()">
            Incident
        </div> -->
        <!-- <div class="menu-item" >
            Dashboard
        </div> -->
    </div>
    <div class="navbar-top-right-items">
        <div class="avatar">
               
            <i class="fa-solid fa-user fa-2xl" style="color: #ededed;"></i>
                <!-- <div class="avatar-dropdown">
                    <div class="dropdown-link">
                        <div class="user-name">Aadhithya Das</div>
                    </div>
                    <div class="dropdown-link">
                        <div><img id="menu-icon" src="../../../../assets/images/logout-icon.svg" style="width: 18px; background: #f5f2f2;"></div>
                        <div><button class="profile-dropdown-item-btn" (click)="logOut()">Logout</button></div>
                    </div>
                </div> -->
        </div>
    </div>
</div>
<div id="sidenavbar">
    <nav>
        <ul class="nav__list" >
            <li class="nav__item" data-tooltip="Incident">
                <!-- <div  [ngClass]="{'active': tab==='test-plan'}" (click)="goToTestplan(); tab='test-plan'" >
                    <img src="../../../../assets/images/test-plan-icon.png" class="icons" >
                </div> -->
                <div>
                     <i class="fa fa-table fa-2xl icon" aria-hidden="true" style="color: white;"></i>
                </div>
               
            </li>
    
            <li class="nav__item" data-tooltip="Users">
                <div >
                <i class="fa fa-user  fa-2xl icon" style="color: white;"></i> 
                    <!-- <img src="../../../../assets/images/users-icon.png" class="icons"> -->
                </div>
            </li>
    
            <li class="nav__item" data-tooltip="Home" >
                <i class="fa-solid fa-house fa-2xl icon" style="color: white;"></i>
                <!-- <div  [ngClass]="{'active': tab==='report'}" (click)="goToReport(); tab='report'">
                    <img src="../../../../assets/images/report-icon.png" class="icons">
                </div> -->
            </li>
        </ul>
    </nav>
</div>