.nav {
	width: 100%;
	height: 72px;
	background: #0b0f32;
	z-index: 99;
	position: fixed;
	.navbar-menu-left {
		display: flex;
		flex-direction: row;
		width: 50%;
		/* ecast logo */
		.logo {
			width: 20%;
			height: 72px;
			min-width: 135px;
			justify-content: center;
			text-align: center;
			line-height: 72px;
			margin-right: 20px;
			img {
				height: 35%;
				cursor: pointer;
			}
		}
		/* nav bar menu */
		.menu-item {
			position: relative;
			width: 20%;
			min-width: 135px;
			line-height: 60px;
			text-align: center;
			padding-top: 8px;
			cursor: pointer;
			font-family: ProximaNova;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			color: #FFFFFF;
			.pd-10 {
				margin-left: 20px;
			}
           
        }
        .menu-item:hover {
            border-bottom: 4px solid #e8807f;
        }
    }
}

.navbar-top-right-items {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
	.avatar {
		width: 20%;
		text-align: center;
		line-height: 72px;
		position: relative;
		cursor: pointer;
		transition: all 0.4s ease;
		
	}
}

.sticky {
	position: -webkit-sticky;
	position: fixed;
	top: 0px;
}



.nav__list {
    background:  #0b0f32;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    width: 60px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    margin-top: -49px;
  
    .nav__item {
      list-style: none;
      position: relative;
  
    
  
    
  
    //   &:first-child {
    //     margin-bottom: 2rem;
    //   }
  
      &::before {
        content: attr(data-tooltip);
        position: absolute;
        left: 44px;
        top: 0.75rem;
        background:  #0b0f32;
        width: 84px; 
        height: 50px; 
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color:  #fff;
        padding: 0.8rem;
        transition: all 200ms ease-in;
        opacity: 0;
        pointer-events: none;
      }
  
      &:hover::before {
        opacity: 1;
        left: 42px;
      }
    }
	.icon {
		height: 60px;
        line-height: 60px;
        // background: #333;
	}
  }