<div class="row login-main-element">
    <div class="col left-column">
        <label class="login-label">CIT</label>
        <section>
            <label class="desc">Contionous Incident Telemetry </label>
            <label class="subDesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </label>
            <img src="../../../assets/images/loginImage2.png" class="loginImage">
        </section>
    </div>
    <section class="col right-column">
        <div class="login-element">
            <div class="login-table">
                <label>Sign In to your account</label>
            </div>
            <div class="login-content">
                <form class="login-form" [formGroup]="loginForm" >
                    <div class="form-group">
                      <label class="login-form-label">Email Address</label>
                        <input type="email" id="email" class="form-control" autocomplete="false" appFilledInput
                         formControlName="email" name="email" />
                         <div class="text-danger input-feedback" *ngIf="f.email.errors && f.email.touched">
                          Please provide a valid email
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="login-form-label">Password</label>
                        <input type="password" id="password" class="form-control" autocomplete="false" formControlName="password"
                           appFilledInput name="password" />
                        <!-- <label class="form-label" for="password">Password</label> -->
                        <div class="text-danger input-feedback" *ngIf="f.password?.errors && f.password.touched">
                          Please provide a valid password.
                        </div>
                      </div>
                      <div class="login-form__footer">
                        <button class="btn" (click)="login()">
                          Log
                          In
                        </button>
                      </div>
                </form>
            </div>
        </div>
    </section>
</div>