.login-main-element {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .left-column {
        background: #F5F8FF;
        height: 100vh;
        -ms-flex: 15%;
        flex: 15%;
    }

    .login-label {

        margin-left: 70px;
        margin-top: 50px;
        width: 25%;
        font-weight: bold;
        padding: 10px;
        font-style: bold;
        text-align: center;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        color: #131313;
        font-size: 39px;

        cursor: pointer;
    }

    .desc {
        position: absolute;
        width: 50%;
        height: 162px;
        left: 67px;
        top: 150px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        color: #344054;
        text-size-adjust: auto;
    }

    .subDesc {

        position: absolute;
        width: 30%;
        height: 25px;
        left: 68px;
        top: 300px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 25px;
        color: #344054;
    }

    .right-column {
        height: 100vh;
        -ms-flex: 35%;
        flex: 35%;
        padding: 0 4px;

        .login-element {
            margin-top: 5rem;
            padding-left: 25%;
            padding-top: 10%;

            .login-table {

                width: 80%;
                // text-align: center;
                font-family: ProximaNova;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 42px;
                color: #131313;
            }

            .login-content {
                // overflow: hidden;
                // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
                // padding: 10px;
                // height: 400px;
                // /* margin-left: 70px; */
                width: 80%;

                // background: #F5F2F2;
                // font-size: 15px;
                // border-bottom-left-radius: 5px;
                // border-bottom-right-radius: 5px;
                // border-top: 3px solid #CB2C27;
                .login-form {
                    margin-top: 5rem;

                    .form-group {
                        width: 80%;
                        // height: 40px;
                        font-size: 13px;
                        background: #fff;
                        // border: 1px solid #E9E9EF;
                        // box-sizing: border-box;
                        border-radius: 6px;
                        font-family: ProximaNova;
                        margin-bottom: 18px;

                        .login-form-label {
                            color: #4f4f4f;
                            font-size: 14px;
                            font-weight: bold;
                            // position: absolute;
                            // top: -3rem;
                            // left: .5rem;
                            font-family: ProximaNova;
                        }

                        .form-control {
                            background: #fdfcff;
                            border: 1px solid #e9e9ef;
                            border-radius: 6px;
                            font-size: 15px;
                            // width: 65%;
                            padding: 12px;
                            font-family: ProximaNova;
                            // margin-bottom: 18px;
                            font-size: 16px;
                        }

                        .login-form__footer {
                            margin-top: 4rem;
                        }
                    }
                }

            }
        }
    }

}

.btn {
    font-family: ProximaNova;
    background: #FD5E0F;
    color: #fff;
    margin-top: 4rem;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 2.4rem; */
    /* padding: 15px; */
    border-radius: 5px;
    width: 80%;
}

.loginImage {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    margin-right: 53%;
    vertical-align: bottom;
    margin-bottom: 10px;
    height: 30%;
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .loginImage {
        width: 29%;
    }
    .desc {
        font-size: 29px !important;
    }
    .right-column {
        flex: 26% !important;
    }
}