.main-element {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    .table-main {
        display: flex;
        align-items: baseline;
        margin-top: 40px;
        margin-left: 10px;
    }

    // .main-header {
    //     margin-top: 80px;
    //     height: 30px;
    //     font-style: bold;
    //     font-family: ProximaNova;
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 30px;
    //     line-height: 42px;
    //     color: #344054;
    // }
    .incident-detials-card {
        cursor: pointer;
        width: 100%;
        height: 45px;
        background: #f5f5f2;
        // border: 1px solid #5b5b5b;
        box-sizing: border-box !important;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        // box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 22px;
        // z-index: -1;
        // margin-left: 25px;
    }
    .main-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mat-cell {
        // margin-left: 20px;
        // margin-right: 9%;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        margin-left: 17px;
        // width: 85px;
        font-size: 16px;
        // line-height: 16px;
        color: #121316;
    }
    .mat-cell1 {
        cursor: pointer;
        // margin-left: 20px;
        // margin-right: 9%;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        margin-left: 17px;
        // width: 85px;
        font-size: 16px;
        // line-height: 16px;
        color: #121316;
    }
    .mat-cell2 {
        margin-right: 42px;
        // margin-left: 20px;
        // margin-right: 9%;
        // font-family: ProximaNova;
        // font-style: normal;
        // font-weight: bold;
        // margin-left: 17px;
        // width: 85px;
        font-size: 12px;
        // // line-height: 16px;
        // color: #121316;
        .statusLabel {
            width: 94px;
            border-radius: 20px;
            padding-top: 6px;
            padding-bottom: 8px;
            color: #ffffff;
            font-family: ProximaNova;
            font-style: normal;
            font-size: 10px;
            line-height: 13px;
            color: #FFFFFF;

        }
        .open {
            background: #3B9BA1;
            padding-left: 16px;
            padding-right: 17px;
            cursor: pointer;
        }
        .closed {
            background: #f67f3c;
            padding-left: 17px;
            padding-right: 17px;
        }
    }
}

.button-outer-element {
    margin-left: 54%;

    .create-new-btn {
        background: #FD5E0F;
        border: none;
        color: white;
        width: 120%;
        height: 40px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
        font-family: ProximaNova;
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        color: #ffffff;
    }

    .create-new-btn:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition-duration: 0.5s;
    }

}

:host ::ng-deep {
    // .mat-elevation-z2 {
    //     box-shadow: none;
    //     width: 93%;
    //     // margin-left: 3%;
    //     margin-bottom: 1%;
    //     margin-top: 3%;
    //     display: flex;
    //     justify-content: space-between;
    // }
        mat-table.mat-mdc-table.mdc-data-table__table.cdk-table.mat-sort {
            cursor: pointer;
            border-collapse: initial;
            width: -2%;
            border-spacing: 0 8px !important;
            margin-top: 20px;
            background: #f5f2f2;
        }
        .mdc-data-table__header-cell {
            font-family: ProximaNova;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: #121316;
            border: none;
            padding-top: 20px;
        }
        .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-row, .mat-mdc-footer-row{
            border: 1px solid #b5b5b5;
            font-style: normal;
            /* width: 10%; */
            font-size: 16px;
            /* padding: 16px 0 16px 10px; */
            line-height: 18px;
            color: #344054;
        }
        .opened {
            color: green;
        }
        .closed {
            color: red;
        }
        .moderate {
            color: orange;
        }
        .normal {
            color: green;
        }
    
}
.overlay {
    font-family: ProximaNova;
    position: fixed;
    top: -20px;
    bottom: -100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 99;
 
    .popup {
        width: 46%;
        height: 506px;
        // margin-left: 34%;
        // margin-top: 8%;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
        .incident-popup {
            margin-left: 10%;

            .incident-label {
                font-family: ProximaNova;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 30px;
                margin-top: 30px;
                color: #474A4E;
            }
        }
    
}
.users-close-icon {
    float: right;
    margin-right: 8%;
    margin-top: -7%;
    cursor: pointer;
}
.form-group {
    margin-left: 20px;
    margin-bottom: 10px;
    .form-control {
        font-family: ProximaNova;
        // margin-bottom: 18px;
        font-size: 16px;
        width: 80%;
    }
}

