<div class="main-element">
    <div class="main-header">
        <label>View detailed steps</label>
    </div>

    <div class="table-content">
      <section class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell">Incident ID</span>
        <span class="mat-header-cell">IncidentDescription</span>
        <span class="mat-header-cell">Opened time</span>
        <!-- <span class="mat-header-cell1">Issue Details</span> -->
       
        <!-- <span class="mat-header-cell2">Status</span> -->
        <span class="mat-header-cell">ShortDescription</span>
    </section>
      <mat-accordion class="example-headers-align" multi *ngFor="let incident of incidentDetails; let i =  index">
        <!-- #enddocregion multi -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               {{incident.incidentId}}
              </mat-panel-title>
              <mat-panel-title>
                {{incident.incidentDescription}}
              </mat-panel-title>
              <mat-panel-title>{{incident.time}}</mat-panel-title>
              <mat-panel-title>{{incident.short}}</mat-panel-title>
            </mat-expansion-panel-header>
            
            <!-- <h3>Suggested steps</h3>
          

            <div *ngFor="let item of stepArray; let index = index">
              <div class="step">
                <div class="step-header">
                  Step {{ index + 1 }}
                </div>
                <div class="step-content">
                  {{ item }}
                </div>
              </div>
            </div> -->
            <mat-card>
              <div>
                <form [formGroup]="incidentForm" class="incident-form">
                  <div class="form-group">
  
                      <label class="form-label">Incident ID</label>
                      <input matInput type="text" class="form-control" formControlName="incidentId"
                          name="incidentId" required>
                      <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                  </div>
                  <div class="form-group">
  
                      <label class="form-label">created date</label>
                      <input matInput type="text" class="form-control" formControlName="time"
                          name="time" required>
                      <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                  </div>
                  <div class="form-group">
  
                      <!-- <label class="form-label">Performance Test Scenario name</label> -->
                      <!-- <input matInput type="text" class="form-control" formControlName="incidentId"
                          name="incidentId" required> -->
                      <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                  </div>
                  <div class="form-group">
  
                      <label class="form-label">Assigned to</label>
                      <input matInput type="text" class="form-control" formControlName="assignedto"
                          name="assignedto" required>
                      <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                  </div>
  
                  <div class="form-group">
  
                      <label class="form-label">Description</label>
                      <!-- <input matInput type="text" class="form-control" formControlName="testplanname"
                          name="testplanname" required> -->
                          <textarea rows="3" cols="50" id="description" class="form-control" appFilledInput formControlName="description"
                          name="description" style="resize: none;"></textarea>
                      <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                      
                  </div>
              </form>
              </div>
            </mat-card>
         
        
          </mat-expansion-panel>
        
        
        
        </mat-accordion>
    </div>
 
</div>