.main-element {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;

    // .main-header {
    //     margin-top: 80px;
    //     height: 30px;
    //     font-style: bold;
    //     font-family: ProximaNova;
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 30px;
    //     line-height: 42px;
    //     color: #344054;
    // }
}

:host::ng-deep {
  .mat-elevation-z2 {
    box-shadow: none;
    width: 93%;
    // margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
    .mat-expansion-panel.mat-expansion-panel {
        margin-right: 10%;
        width: 100%;
        margin-bottom: 35px;
        margin-bottom: 1%;
        background: #fafbfc;
        border: 1px solid #e9e9ef;
        box-sizing: border-box;
        border-radius: 10px!important;
    }
}

.step-defn-label {
	font-family: ProximaNova;
font-style: normal;
font-weight: bold;
font-size: 13px;
color: #888787;
}
.step {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .step-header {
    font-weight: bold;
  }
  
  .step-content {
    margin-top: 5px;
  }