/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: #fff;
    font-family: "ProximaNova", sans-serif;
    font-size: inherit;
    color: #222222;
    overflow: scroll
  }

  .main-header {
	height: 60px;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #F5F2F2;
	padding: 10px;
	// border: 1px solid #212327;
	box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
	border-bottom: none;
	font-style: bold;
	margin-left: 70px;
	font-family: ProximaNova;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	color: #131313;
}

  .table-content {
	overflow: hidden;
	box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
	padding: 10px;
	margin-left: 70px;
	background: #F5F2F2;
	font-size: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 3px solid #CB2C27;
	border-bottom: 3px solid #CB2C27;
}

.search-container{
    background: #fff;
    height: 30px;
    width: 30%;
    margin-top: 32px;
    border-radius: 10px;
    margin-left: 3px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
   border: 1px solid ;
}
.search-container .search-input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: beige;
	border-radius: 100px;
	margin-top: 18px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #e4e4e4;
}

a {
	color: #344054;
    text-decoration: none;
}